:root {
	/* MAIN THEME COLOR */
	--accent-color: #7b61ff;
	--second-accent-color: #e93d82;
	--success-color: #46a758;
	--warning-color: #ffba18;
	--danger-color: #e54d2e;
	--white-color: #ececec;
	--black-color: #131313;
	--grey-color: #8d8d8d;
	--anthracite-color: #353535;
	/* THEME COLOR LIGHT */
	--background-color: rgb(245, 245, 245);
	--background-color-mat: rgb(255, 255, 255);
	--background-color-low-profile: rgba(255, 255, 255, 0.099);
	--background-color-ultra-low-profile: rgba(255, 255, 255, 0.02);
	--text-color: rgba(0, 0, 0, 0.9);
	--box-shadow-color: var(--gray-a7);

	/* DATE PICKER */
	--datePicker-border-radius: 99px;
	--datePicker-semi-border-radius: 22px;

	/* SEARCH BAR */
	--searchBar-height: 44px;
	--searchBar-panel-max-height: 250px;
	--searchBar-border-radius: 99px;
	--searchBar-semi-border-radius: 22px;
	--searchBar-font-size: 100%;
	--searchBar-icon-size-scale: 1;

	/* SELECT MULTIPLE */
	--selectMultiple-height: 44px;
	--selectMultiple-displayer-height: 40px;
	--selectMultiple-panel-max-height: 350px;
	--selectMultiple-border-radius: 99px;
	--selectMultiple-semi-border-radius: 22px;
	--selectMultiple-font-size: 100%;
	--selectMultiple-icon-size-scale: 1;

	/* INPUT STRING / NUMBER */
	--input-height: 44px;
	--input-border-radius: 22px;
	--input-font-size: 100%;
	--input-error-message-font-size: 80%;
	--input-icon-size-scale: 1;

	/* FORM BUTTON */
	--formButton-inline-size: 150px;
	--formButton-height: 44px;
	--formButton-border-radius: 22px;
	--formButton-font-size: 100%;
	--formButton-error-message-font-size: 80%;
	--formButton-spinner-size: 25px;
}

.dark-theme {
	/* MAIN THEME COLOR */
	--accent-color: #6883f0;
	--second-accent-color: #e54666;
	--success-color: #71d083;
	--warning-color: #f7cb65;
	--danger-color: #e26249;
	--white-color: #ececec;
	--black-color: #131313;
	--grey-color: #606060;
	--anthracite-color: #3b3b3b;
	/* THEME COLOR DARK */
	--background-color: rgb(26, 26, 26);
	--background-color-mat: rgb(20, 20, 20);
	--background-color-low-profile: rgba(0, 0, 0, 0.099);
	--background-color-ultra-low-profile: rgba(0, 0, 0, 0.02);
	--text-color: rgba(255, 255, 255, 0.9);
}

/* SHARED STYLE */
/* Border color --gray-a7 */
