.userProfile-text-wrapper-deploy,
.userProfile-text-wrapper,
.userProfile-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

/* ######################################## */
/* ####### USER PROFILE MAIN FRAME ######## */
/* ######################################## */
.userProfile-container {
	width: fit-content;
	height: fit-content;

	background-color: var(--background-color);
	border-radius: var(--userProfile-border-radius, 99px);
	box-shadow: inset 0 0 0 1px var(--box-shadow-color);

	transition: all 1s ease;

	cursor: pointer;
}
.userProfile-picture {
	border-radius: var(--userProfile-border-radius, 99px);
	margin: 3px;
}

.userProfile-text-wrapper-deploy,
.userProfile-text-wrapper {
	width: 0;
	flex-direction: column;
	align-items: flex-start;
	margin: 0;
	opacity: 0;
	transition: all 1s ease;
}

.userProfile-text-wrapper-deploy {
	width: var(--userProfile-inlineSize);
	margin: 0 17px 0 7px;
	opacity: 1;
}
.userProfile-text-top {
	color: var(--text-color);
	font-size: 97%;
}

.userProfile-text-bot {
	color: var(--accent-color);
	font-size: 95%;
	margin-top: -3px;
}
.userProfile-container:hover {
	box-shadow: inset 0 0 0 2px var(--accent-color);
	transition: all 1s ease;
}

/* ######################################## */
/* ############### ANIMATION ############## */
/* ######################################## */
.userProfile-text-bot-animation {
	animation: changementCouleur 3s infinite;
}

@keyframes changementCouleur {
	0% {
		color: var(--text-color);
	}
	50% {
		color: var(--accent-color);
	}
	100% {
		color: var(--text-color);
	}
}

/* ######################################## */
/* ############### BACKGROUD ############## */
/* ######################################## */
.beautiful-background {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-image: var(--userProfile-image-link, '');
}
