.formButton_container {
	display: flex;
	align-items: center;
	justify-content: center;

	width: var(--formButton-inline-size, 150px);
	height: var(--formButton-height, 44px);

	margin: auto;
	border-radius: var(--formButton-border-radius, 22px);
	box-shadow: inset 0 0 0 1px var(--box-shadow-color);
	background-color: var(--background-color);

	transition: all 1s ease;

	z-index: 98;
}

.formButton_text {
	font-size: var(--formButton-font-size, 100%);
}

.formButton_text_valid {
	color: var(--success-color);
}

.formButton_container:hover {
	box-shadow: inset 0 0 0 2px var(--success-color);
}

.formButton_container:disabled {
	background-color: var(--background-color-low-profile);
	cursor: not-allowed;
	box-shadow: inset 0 0 0 1px var(--box-shadow-color);
}

.formButton_spinner {
	width: var(--formButton-spinner-size, 25px);
	height: var(--formButton-spinner-size, 25px);

	border: 4px dotted var(--text-color);
	border-radius: 50%;
	display: inline-block;
	position: relative;
	box-sizing: border-box;
	animation: rotation 2s linear infinite;
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
