/* General Styles for Select Multiple Component */
.selectMultiple-container,
.selectMultiple-content-wrapper,
.selectMultiple-content-wrapper-visible,
.selectMultiple-wrapper-displayer,
.selectMultiple-wrapper-displayer-visible,
.selectMultiple-icon-wrapper,
.selectMultiple-panel,
.selectMultiple-panel-visible {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--background-color);
}
/* ######################################## */
/* ##### SELECT MULTIPLE MAIN FRAME ####### */
/* ######################################## */
.selectMultiple-container {
	inline-size: fit-content;

	margin: auto;
	background-color: transparent;

	position: relative;
}

/* ######################################## */
/* ######## SELECT MULTIPLE CONTENT ####### */
/* ######################################## */
.selectMultiple-content-wrapper-visible,
.selectMultiple-content-wrapper {
	font-size: var(--selectMultiple-font-size, inherit);

	height: var(--selectMultiple-height, 44px);

	border-radius: var(--selectMultiple-semi-border-radius, 22px);
	background-color: var(--background-color);
	box-shadow: inset 0 0 0 1px var(--box-shadow-color);

	transition-property: box-shadow, border-radius;
	transition-duration: 4s, 0.9s;
	transition-delay: 0s, 1.05s;
	transition-timing-function: ease, ease;

	/* CLICKABLE CONTENT */
	.selectMultiple-clickable-wrapper {
		background-color: transparent;

		/* INPUT FIELD */
		.selectMultiple-input-text {
			text-align: center;
			background-color: transparent;
			margin-left: 18px;
		}

		.selectMultiple-input-text:disabled {
			cursor: not-allowed;
		}
	}
	/* ICON */
	.selectMultiple-icon-wrapper {
		width: 36px;
		height: 36px;

		margin-right: 3px;
		background-color: transparent;

		.selectMultiple-valid-icon {
			transform: scale(var(--selectMultiple-icon-size-scale, 1));
			color: var(--success-color);
		}

		.selectMultiple-erase-icon {
			transform: scale(var(--selectMultiple-icon-size-scale, 1));
			color: var(--danger-color);
			cursor: pointer;
		}

		.selectMultiple-icon {
			transform: scale(var(--selectMultiple-icon-size-scale, 1));
			color: var(--text-color);
		}

		.selectMultiple-icon-disabled {
			transform: scale(var(--selectMultiple-icon-size-scale, 1));
			color: var(--box-shadow-color);
		}
		.selectMultiple-noEmpty-icon {
			transform: scale(var(--selectMultiple-icon-size-scale, 1));
			color: var(--success-color);
			cursor: pointer;
		}
	}
}

.selectMultiple-content-wrapper-visible {
	border-radius: 22px 22px 0 0;

	box-shadow: inset 0 2px 0 0 var(--accent-color),
		inset -2px 0 0 0 var(--accent-color),
		inset 2px 0 0 0 var(--accent-color);

	transition: border-radius 1s ease, box-shadow 1s ease;
}

.selectMultiple-content-wrapper-disabled {
	background-color: var(--background-color-low-profile);
	cursor: not-allowed;
}

/* ######################################## */
/* #### SELECT MULTIPLE ITEM DISPLAYER #### */
/* ######################################## */
.selectMultiple-wrapper-displayer-visible,
.selectMultiple-wrapper-displayer {
	height: 0px;
	width: 100%;

	border-radius: 0px;
	background-color: var(--background-color);

	box-shadow: inset 1px 0 0 0 var(--box-shadow-color),
		inset -1px 0 0 0 var(--box-shadow-color);

	position: absolute;
	top: var(--selectMultiple-height, 44px);

	transition-property: height, box-shadow;
	transition-duration: 0.8s, 2.1s;
	transition-delay: 0.6s, 0.1s;
	transition-timing-function: ease, ease;
}

.selectMultiple-wrapper-displayer-visible {
	height: var(--selectMultiple-displayer-height, 40px);

	border-radius: 0px;

	box-shadow: inset 2px 0 0 0 var(--accent-color),
		inset -2px 0 0 0 var(--accent-color),
		inset 0 -2px 0 0 var(--accent-color);

	transition: border-radius 1s ease, box-shadow 1s ease, height 1s ease;

	/* DISPLAYER */
	.selectMultiple-item-displayer {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;

		width: 100%;
		height: var(--selectMultiple-displayer-height);

		margin-left: 8px;
		flex-wrap: wrap;
		overflow-y: scroll;

		/* ITEMS */
		.selectMultiple-items {
			padding: 1px 8px;
			border-radius: 20px;
			margin: 3px;

			background-color: var(--accent-color);
			color: var(--white-color);

			font-size: 85%;
		}
	}

	.selectMultiple-item-displayer::-webkit-scrollbar {
		display: none;
	}

	.selectMultiple-displayer-reset-button {
		margin: 10px;
		margin-left: 11px;

		background-color: transparent;
		color: var(--danger-color);

		cursor: pointer;
	}
}

/* ######################################## */
/* ######## SELECT MULTIPLE PANEL ######### */
/* ######################################## */
.selectMultiple-panel,
.selectMultiple-panel-visible {
	flex-direction: column;

	inline-size: 100%;
	max-height: 0px;

	background-color: var(--background-color);
	box-shadow: inset 0 0 0 2px var(--box-shadow-color);

	border-radius: 0 0 var(--selectMultiple-semi-border-radius, 22px)
		var(--selectMultiple-semi-border-radius, 22px);

	position: absolute;
	top: calc(
		var(--selectMultiple-height, 44px) +
			var(--selectMultiple-displayer-height, 40px) + 2px
	);
	left: 0;
	z-index: 99;

	transition-property: padding, border-radius, max-height;
	transition-duration: 0.3s, 0.4s, 0.8s;
	transition-delay: 0s, 0s, 0s;
	transition-timing-function: ease, ease, ease-in-out;
}

.selectMultiple-panel-visible {
	height: fit-content;
	max-height: var(--selectMultiple-panel-max-height, 250px);

	padding: 8px 0;
	border-radius: 0 0 var(--selectMultiple-semi-border-radius, 22px)
		var(--selectMultiple-semi-border-radius, 22px);

	transition: padding 0.3s ease, max-height 1s ease-in, box-shadow 1s ease;
}

.selectMultiple-panel-visible:hover {
	box-shadow: inset 0 0 0 2px var(--accent-color);
	transition: box-shadow 1s ease;
}

/* ######################################## */
/* ######## SELECT MULTIPLE ITEMS ######### */
/* ######################################## */
.selectMultiple-item-list {
	width: inherit;
	text-align: center;

	list-style-type: none;

	overflow-y: scroll;

	margin-bottom: 3px;
	background-color: transparent;

	.selectMultiple-clickable-items {
		width: calc(99% - 24px);
		height: max-content;

		padding: 3px;
		margin: 1px 1px;
		border-radius: 14px;
		background-color: transparent;

		word-wrap: break-word;
		font-size: var(--selectMultiple-font-size, inherit);
		color: var(--text-color);

		cursor: pointer;
	}

	.selectMultiple-clickable-items:hover {
		background-color: var(--accent-color);
		color: var(--white-color);
	}
}

.selectMultiple-item-list::-webkit-scrollbar {
	width: 0px;
}
