.pie-chart-pie-wrapper,
.pie-chart-globe,
.pie-chart-title-wrapper,
.pie-chart-container,
.pie-chart-value {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	transition: all 1s ease;
}

.pie-chart-container {
	width: 300px;
	height: 300px;
	box-shadow: inset 0 0 0 1px var(--box-shadow-color);
	border-radius: 22px;
	margin: auto;
	padding: 10px;
	background-color: var(--background-color);
	z-index: 99;
}

.pie-chart-title-wrapper {
	.pie-chart-globe {
		width: 10px;
		height: 10px;
		border-radius: 10px;
		margin: 4px;
	}
	.pie-chart-title {
		text-align: center;
		font-size: 127%;
		color: var(--text-color);
	}
}

.pie-chart-pie-wrapper {
	width: 300px;
	height: 300px;

	position: relative;
}
.pie-chart-value {
	transition: all 1s ease;
	width: 300px;
	height: 300px;
	text-align: center;
	font-size: 200%;
	color: var(--text-color);
	background-color: red;
	position: absolute;
	top: 0;
	left: 0;
	/* transform: translate(-50%); */
}
