.container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
	min-height: 177px;
	height: fit-content;
	background-color: var(--background-color-ultra-low-profile);
	border-bottom: 1px solid var(--background-color-low-profile);
}

.wrapper {
	margin: auto;
	width: 85%;
}
