.container {
	display: grid;
	grid-auto-columns: 1fr;
	grid-auto-rows: 1fr;
	grid-template-columns: 20% 1fr 1fr;
	grid-template-rows: 8% 1fr 48%;
	gap: var(--standard-margin, 16px) var(--standard-margin, 16px);
	grid-template-areas:
		'user-infos Products-infos Products-infos'
		'side-bar graph-1 graph-2'
		'side-bar table table';

	width: 100vw;
	height: 100vh;

	/*Variables*/
	--bg-grey: #2b2b4b;
	--standard-margin: 16px;
}

.user-infos {
	grid-area: user-infos;
	background-color: var(--bg-grey);
	border-radius: var(--formButton-border-radius, 22px);
	box-shadow: inset 0 0 0 1px var(--box-shadow-color);
	margin: var(--standard-margin, 16px) 0 0 var(--standard-margin, 16px);
	transition: all 1s ease;
}

.products-infos {
	grid-area: Products-infos;
	background-color: var(--bg-grey);
	border-radius: var(--formButton-border-radius, 22px);
	box-shadow: inset 0 0 0 1px var(--box-shadow-color);
	margin: var(--standard-margin, 16px) var(--standard-margin, 16px) 0 0;
	transition: all 1s ease;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 30px;

	.products-n1,
	.products-n2,
	.products-n3,
	.products-n4 {
		width: 22.4%;
		height: 60%;
		border-radius: 5px;
		box-shadow: inset 0 0 0 1px var(--box-shadow-color);
	}

	.products-n1 {
		background: linear-gradient(
			to left,
			rgb(192, 38, 211),
			rgb(219, 39, 119)
		);
	}
	.products-n2 {
		background: linear-gradient(
			to left,
			rgb(153, 246, 228),
			rgb(217, 249, 157)
		);
	}
	.products-n3 {
		background: linear-gradient(
			to left,
			rgb(59, 130, 246),
			rgb(37, 99, 235)
		);
	}
	.products-n4 {
		background: linear-gradient(
			to left,
			rgb(251, 113, 133),
			rgb(253, 186, 116)
		);
	}
}

.side-bar {
	grid-area: side-bar;
	background-color: var(--bg-grey);
	border-radius: var(--formButton-border-radius, 22px);
	box-shadow: inset 0 0 0 1px var(--box-shadow-color);
	margin: 0 0 var(--standard-margin, 16px) var(--standard-margin, 16px);
	transition: all 1s ease;
}

.graph-2,
.graph-1 {
	grid-area: graph-1;
	background-color: var(--bg-grey);
	border-radius: var(--formButton-border-radius, 22px);
	box-shadow: inset 0 0 0 1px var(--box-shadow-color);
	margin: 0;
	transition: all 1s ease;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-end;
}

.graph-2 {
	grid-area: graph-2;
	margin: 0 var(--standard-margin, 16px) 0 0;
}

.table {
	grid-area: table;
	background-color: var(--bg-grey);
	border-radius: var(--formButton-border-radius, 22px);
	box-shadow: inset 0 0 0 1px var(--box-shadow-color);
	margin: 0 var(--standard-margin, 16px) var(--standard-margin, 16px) 0;
	transition: all 1s ease;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

/* OPTIONS */
.border-effect {
	overflow: hidden;

	display: flex;
	align-items: center;
	justify-content: center;

	position: relative;
}

.border-effect::before {
	position: absolute;
	content: '';
	width: 100px;
	height: 800px;

	transform: rotate(45deg);
}

.border-effect:hover::before {
	animation: animate 5s linear infinite;
	background: white;
	border-top: 800px solid var(--bg-grey);
}

@keyframes animate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.border-effect::after {
	position: absolute;
	content: '';
	inset: 2px;
	background-color: var(--bg-grey);
	border-radius: calc(var(--formButton-border-radius, 22px) - 1px);
}
