.super-container {
	background-color: #18183b00;

	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	/*Variables*/
	--bg-grey: #14141f;
	--screen-ratio: 1.7;
	--screen-width: 99%;
	--standard-margin: 16px;
}
.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.pie-wrapper {
	gap: 50px;
}
.area-chart {
	width: 920px;
	height: 250px;
}
