input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.inputNumber_container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: fit-content;
	margin: auto;
	background-color: transparent;
	position: relative;
}

.inputNumber_text_field {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: 105%;
	height: 44px;
	width: 142px;
	padding: 0 37px 0 21px;
	border-radius: 22px;
	background-color: var(--background-color);
	box-shadow: inset 0 0 0 1px var(--gray-a7);
	transition: box-shadow 1s ease, border-radius 0.6s ease;
}

.inputNumber_text_field:disabled {
	background-color: var(--background-color-low-profile);
	cursor: not-allowed;
}

.inputNumber_icon_disabled {
	color: var(--gray-a7);
}

.inputNumber_reset_button,
.inputNumber_icon_wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 36px;
	height: 36px;
	position: absolute;
	top: 4px;
	right: 4px;
	border-radius: 40px;
	background-color: transparent;
}

.inputNumber_text_field:focus {
	box-shadow: inset 0 0 0 2px var(--accent-color);
}
.inputNumber_valid_icon,
.inputNumber_reset_icon {
	margin-top: 1px;
}

.inputNumber_valid_icon {
	color: var(--success-color);
}

.inputNumber_reset_icon {
	color: var(--danger-color);
}

.inputNumber_error_message {
	display: flex;
	align-items: center;
	justify-content: center;
	width: max-content;
	height: fit-content;
	color: var(--danger-color);
	background-color: var(--background-color-low-profile);
	padding: 0 3px;
	border-radius: 4px;
	font-size: 80%;
	top: 44px;
	position: absolute;
	z-index: 2;
	transition: box-shadow 1s ease, border-radius 0.6s ease;
}
