input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.inputNumber-super-container,
.inputNumber-container,
.inputNumber-text-field,
.inputNumber-icon-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.inputNumber-container {
	inline-size: fit-content;
	margin: auto;
	background-color: transparent;
	position: relative;
	z-index: 98;
}

.inputNumber-label {
	width: 86%;
	color: var(--text-color);
	font-size: calc(var(--input-font-size, 100%) + 4%);
	padding: 0 4px 3px 4px;
}

.inputNumber-text-field {
	height: var(--input-height, 44px);

	text-align: center;
	font-size: var(--input-font-size, 100%);
	color: var(--text-color);

	padding: 0 37px 0 21px;
	border-radius: var(--input-border-radius, 22px);
	background-color: var(--background-color);
	box-shadow: inset 0 0 0 1px var(--box-shadow-color);

	transition: all 0.8s ease;
}

.inputNumber-text-field:disabled {
	background-color: var(--background-color-low-profile);
	cursor: not-allowed;
}

.inputNumber-icon-disabled {
	color: var(--box-shadow-color);
}

.inputNumber-icon-wrapper {
	--self-icon-size: 36px;

	width: var(--self-icon-size);
	height: var(--self-icon-size);

	position: absolute;
	top: 4px;
	right: 4px;
}

.inputNumber-text-field:focus {
	box-shadow: inset 0 0 0 2px var(--accent-color);
}

.inputNumber-text-field-valid-style {
	box-shadow: inset 0 0 0 2px var(--success-color);
}

.inputNumber-valid-icon,
.inputNumber-reset-icon {
	transform: scale(var(--input-icon-size-scale, 1));
}

.inputNumber-ambiance-icon {
	color: var(--text-color);
}

.inputNumber-valid-icon {
	color: var(--success-color);
}

.inputNumber-reset-icon {
	color: var(--danger-color);
}

.inputNumber-error-message {
	width: max-content;
	height: fit-content;

	font-size: 80%;

	color: var(--danger-color);
	background-color: var(--background-color-low-profile);
	padding: 0 3px;
	border-radius: 4px;

	position: absolute;
	top: var(--input-height, 44px);
	z-index: 5;

	transition: box-shadow 0.8s ease, border-radius 0.6s ease;
}
